<div class="album text-muted">
 <div class="container">
  <div class="row" data-controller="<%= 'drag' if logged_in?(:site_admin) %>">
    <%= render partial: 'portfolio_item', collection: @portfolio_items, as: :x %>
  </div>
 </div> 
</div>